.fs__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
/* logo position */
  padding: 0rem 2.5rem;   
}

.fs__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fs__navbar-links_logo {
  margin-right: 2rem;
}

.fs__navbar-links_logo img {
  width: 150px;
  height: 150px;
}

.fs__navbar-links_container {
   display: flex; 
  flex-direction: row;
}
.fs__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fs__navbar-links_container p,
.fs__navbar-sign p,
.fs__navbar-menu_container p {
  color: #3a1818;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}

.fs__navbar-sign button,
.fs__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color:aliceblue;
  left: 1153px;
  top: 55px;

  background: #492d2d;
  border-radius: 15px;
  cursor: pointer;
  padding: 1rem 2rem;
  margin: 0 0.5rem;
}

.fs__navbar-cart button {
  padding: 0.5rem 1rem;
  color: rgb(20, 2, 99);
  left: 1153px;
  top: 55px;

background: #ccc4c4;
border: #ccc4c4;
border-radius: 15px;
cursor:pointer;
padding: 1rem 1rem;
margin: 0 0.5rem;
}
.fs__navbar-cart img {
  width: 70px;
  height: 60px;
}

.fs__navbar-menu {
  margin-left: 1rem;

  display: none;
  position: relative;
}

.fs__navbar-menu svg {
  cursor: pointer;
}

.fs__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

.fs__navbar-menu_container p {
  margin: 1rem 0;
}

.fs__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
.fs__navbar-links_container {
  display: none;
  }
     .fs__navbar-menu {
      display: flex;
     }
} 
